@page "/"

<PageTitle>Student Submission Form</PageTitle>
<EditForm Model="studentResponse" OnSubmit="Submit" FormName="Student_Response_Form">
	<div>
		<label>
			Student ID:
			<InputText @bind-Value="studentResponse!.studentID"/>
		</label>
	</div>
	<div>
		<label>
			Name:
			<InputText @bind-Value="studentResponse!.name" />
		</label>
	</div>
	<button type="submit">Submit</button>
</EditForm>

@code {
	[SupplyParameterFromForm]
	private StudentResponse? studentResponse { get; set; }

	// take student info from form put into student object backend

	protected override void OnInitialized() {
		studentResponse ??= new();
	}

	/*
	 * Change to OnValidSubmit and OnInvalidSubmit when doing input validation
	 * - all fields should be required
	 */
	private void Submit()
	{
		System.Diagnostics.Debug.WriteLine("Submitted Form");
		studentResponse.convertResponseToStudent();
		System.Diagnostics.Debug.WriteLine(studentResponse.ToString());
		ClearFields();
	}

	private void ClearFields()
	{
		studentResponse.studentID = "";
		studentResponse.name = "";
	}

	/*	Class for getting student info responses from form
	 * 
	 * takes information from response and creates a Student object with that information
	 */
	public class StudentResponse
	{
		// student dict will be
		// key = studentid
		// value = student
		public Student? student{ get; set; }

		public string? studentID { get; set; }
		public string? name { get; set; }

		// add student info variables to dict list
		public void convertResponseToStudent()
		{
			student = new Student(studentID, name);
		}

		public override string ToString()
		{
			if (student.Exists())
			{
				return student.ToString();
			} else
			{
				return "No Valid Response Found";
			}
		}
	}
}