@page "/"

<PageTitle>Student Submission Form</PageTitle>
<EditForm Model="studentInfo" OnSubmit="Submit" FormName="Student_Info_Form">
	<div>
		<label>
			Student ID:
			<InputText @bind-Value="studentInfo!.studentID"/>
		</label>
	</div>
	<div>
		<label>
			Name:
			<InputText @bind-Value="studentInfo!.name" />
		</label>
	</div>
	<button type="submit">Submit</button>
</EditForm>

@code {
	[SupplyParameterFromForm]
	private StudentInfo? studentInfo { get; set; }

	protected override void OnInitialized() {
		studentInfo ??= new();
	}

	private void Submit()
	{
		System.Diagnostics.Debug.WriteLine("Submitted Form");
		studentInfo.convertToDict();

		System.Diagnostics.Debug.WriteLine(studentInfo.ToString());

		ClearFields();
	}

	private void ClearFields()
	{
		studentInfo.studentID = "";
		studentInfo.name = "";
	}

	public class StudentInfo
	{
		public List<string>? dict;

		public string? studentID { get; set; }
		public string? name {get; set; }

		public void convertToDict()
		{
			dict = new List<string>(){ studentID, name };
		}

		public override string ToString()
		{
			string ret = "";
			foreach(string s in dict) {
				ret += s + "\n";
			}
			return ret;
		}
	}
}